<center> 
    <h1> Toronto Crime </h1>
<h3> Sprint 1</h3>
<h3> EDA</h3>
    </center>

##### Author: Arsalan Arif Radhu
##### Date: 15 October 2023

### Table of Contents:
- [Introduction](#intro) <br />
- [Basic Cleaning](#part1) <br />

### Introduction <a id="intro" />

This notebook aims to conduct some basic EDA for the cleaned dataset.

Importing all the required libraries.

In [14]:
import numpy as np  #importing numpy library
import pandas as pd #importing pandas library
import matplotlib.pyplot as plt #importing matplotlib library
import seaborn as sns #importing seaborn library

### Basic EDA <a id="part1" />

We will first import the new dataset and do some basic EDA to get a grasp of how it is after the processing.

Importing our data and reading through it.

In [15]:
#Reading the csv file
final_df = pd.read_csv('../Data/FinalData.csv',low_memory=False, index_col=0)

final_df

,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,OCC_YEAR,...,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
2,GO-20141260889,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,4.0,2014.0,...,Assault,74,North St.James Town,-79.376497,43.666423,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
3,GO-20141261050,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,4.0,2014.0,...,Assault,69,Blake-Jones,-79.344839,43.678946,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
4,GO-20141259344,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,2.0,2014.0,...,Assault,164,Wellington Place,-79.391841,43.646639,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
5,GO-20141260537,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,4.0,2014.0,...,Assault,NSA,NSA,-85.488744,0.000000,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
6,GO-20141260618,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,5.0,2014.0,...,Assault,81,Trinity-Bellwoods,-79.416594,43.654753,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10738,GO-20222554267,2022-12-30,2022-12-21,2022.0,December,30.0,364.0,Friday,16.0,2022.0,...,Theft Over,31,Yorkdale-Glen Park,-79.451516,43.724031,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
10739,GO-20222551852,2022-12-30,2021-06-03,2022.0,December,30.0,364.0,Friday,10.0,2021.0,...,Theft Over,15,Kingsway South,-79.512017,43.648840,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
10740,GO-20222551882,2022-12-30,2022-10-01,2022.0,December,30.0,364.0,Friday,10.0,2022.0,...,Theft Over,20,Alderwood,-79.532258,43.602481,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
10741,GO-20222558987,2022-12-31,2022-12-31,2022.0,December,31.0,365.0,Saturday,9.0,2022.0,...,Theft Over,23,Pelmo Park-Humberlea,-79.533497,43.733619,NotApplicable,NotApplicable,NotApplicable,0.0,0.0
10745,GO-20222561610,2022-12-31,2022-12-30,2022.0,December,31.0,365.0,Saturday,16.0,2022.0,...,Theft Over,156,Bendale-Glen Andrew,-79.258766,43.773233,NotApplicable,NotApplicable,NotApplicable,0.0,0.0

In [16]:
final_df.shape

(344839, 31)

In [17]:
final_df.describe()

,REPORT_YEAR,REPORT_DAY,REPORT_DOY,REPORT_HOUR,OCC_YEAR,OCC_DAY,OCC_DOY,OCC_HOUR,LONG_WGS84,LAT_WGS84,DEATH,INJURIES
count,344839.000000,344839.000000,344839.000000,344839.000000,344839.000000,344839.000000,344839.000000,344839.000000,344839.000000,344839.000000,344839.0,344839.0
mean,2018.155110,15.753685,188.185611,13.078358,2018.101288,15.430781,187.522397,13.104849,-79.478318,43.132187,0.0,0.0
std,2.578756,8.738853,101.835786,6.136818,2.617315,8.874796,102.064153,7.214356,0.699804,4.967756,0.0,0.0
min,2014.000000,1.000000,1.000000,0.000000,2000.000000,1.000000,1.000000,0.000000,-85.488744,0.000000,0.0,0.0
25%,2016.000000,8.000000,103.000000,9.000000,2016.000000,8.000000,103.000000,8.000000,-79.478058,43.658461,0.0,0.0
50%,2018.000000,16.000000,192.000000,13.000000,2018.000000,15.000000,191.000000,15.000000,-79.396950,43.694725,0.0,0.0
75%,2020.000000,23.000000,274.000000,18.000000,2020.000000,23.000000,274.000000,19.000000,-79.332811,43.748038,0.0,0.0
max,2022.000000,31.000000,366.000000,23.000000,2022.000000,31.000000,366.000000,23.000000,-78.551414,44.351392,0.0,0.0

In [18]:
final_df.isna().sum()

EVENT_UNIQUE_ID      0
REPORT_DATE_FIXED    0
OCC_DATE_FIXED       0
REPORT_YEAR          0
REPORT_MONTH         0
REPORT_DAY           0
REPORT_DOY           0
REPORT_DOW           0
REPORT_HOUR          0
OCC_YEAR             0
OCC_MONTH            0
OCC_DAY              0
OCC_DOY              0
OCC_DOW              0
OCC_HOUR             0
DIVISION             0
LOCATION_TYPE        0
PREMISES_TYPE        0
UCR_CODE             0
UCR_EXT              0
OFFENCE              0
MCI_CATEGORY         0
HOOD_158             0
NEIGHBOURHOOD_158    0
LONG_WGS84           0
LAT_WGS84            0
PRIMARY_OFFENCE      0
STATUS               0
HOMICIDE_TYPE        0
DEATH                0
INJURIES             0
dtype: int64