<center> 
    <h1> Toronto Crime </h1>
<h3> Sprint 1</h3>
<h3> EDA</h3>
    </center>

##### Author: Arsalan Arif Radhu
##### Date: 15 October 2023

### Table of Contents:
- [Introduction](#intro) <br />
- [Basic Cleaning](#part1) <br />

### Introduction <a id="intro" />

This notebook aims to conduct some basic EDA for the cleaned dataset.

Importing all the required libraries.

In [1]:
import numpy as np  #importing numpy library
import pandas as pd #importing pandas library
import matplotlib.pyplot as plt #importing matplotlib library
import seaborn as sns #importing seaborn library

### Basic EDA <a id="part1" />

We will first import the new dataset and do some basic EDA to get a grasp of how it is after the processing.

Importing our data and reading through it.

In [2]:
#Reading the csv file
final_df = pd.read_csv('../Data/FinalData.csv',low_memory=False, index_col=0)

final_df

,CRIME_TYPE,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,...,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,Assualt,GO-20141262074,2014-01-01,1998-06-01,2014.0,January,1.0,1.0,Wednesday,12.0,...,Assault,38,Lansing-Westgate,-79.425896,43.757346,NotApplicable,NotApplicable,NotApplicable,0,0
2,Assualt,GO-20141260889,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,4.0,...,Assault,74,North St.James Town,-79.376497,43.666423,NotApplicable,NotApplicable,NotApplicable,0,0
3,Assualt,GO-20141261050,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,4.0,...,Assault,69,Blake-Jones,-79.344839,43.678946,NotApplicable,NotApplicable,NotApplicable,0,0
4,Assualt,GO-20141259344,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,2.0,...,Assault,164,Wellington Place,-79.391841,43.646639,NotApplicable,NotApplicable,NotApplicable,0,0
5,Assualt,GO-20141260537,2014-01-01,2014-01-01,2014.0,January,1.0,1.0,Wednesday,4.0,...,Assault,NSA,NSA,-85.488744,0.000000,NotApplicable,NotApplicable,NotApplicable,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62523,Break and Enter,GO-20222563482,2022-12-31,2022-12-29,2022.0,December,31.0,365.0,Saturday,21.0,...,Break and Enter,150,Fenside-Parkwoods,-79.320955,43.760970,NotApplicable,NotApplicable,NotApplicable,0,0
62524,Break and Enter,GO-20222557270,2022-12-31,2022-12-31,2022.0,December,31.0,365.0,Saturday,0.0,...,Break and Enter,70,South Riverdale,-79.346659,43.639056,NotApplicable,NotApplicable,NotApplicable,0,0
62525,Break and Enter,GO-20222554300,2022-12-31,2022-12-22,2022.0,December,31.0,365.0,Saturday,10.0,...,Break and Enter,119,Wexford/Maryvale,-79.301740,43.736102,NotApplicable,NotApplicable,NotApplicable,0,0
62526,Break and Enter,GO-20222557893,2022-12-31,2022-12-31,2022.0,December,31.0,365.0,Saturday,3.0,...,Break and Enter,130,Milliken,-79.258639,43.828794,NotApplicable,NotApplicable,NotApplicable,0,0
62527,Break and Enter,GO-20222558010,2022-12-31,2022-12-31,2022.0,December,31.0,365.0,Saturday,4.0,...,Break and Enter,138,Eglinton East,-79.248081,43.736690,NotApplicable,NotApplicable,NotApplicable,0,0

In [3]:
final_df.shape

(414327, 32)

In [4]:
final_df.describe()

,REPORT_YEAR,REPORT_DAY,REPORT_DOY,REPORT_HOUR,OCC_YEAR,OCC_DAY,OCC_DOY,OCC_HOUR,LONG_WGS84,LAT_WGS84,DEATH,INJURIES
count,407375.000000,407375.000000,407375.000000,407375.000000,414212.000000,414212.000000,414212.000000,413082.000000,414327.000000,414327.000000,414327.000000,414327.000000
mean,2018.117717,15.760206,187.759980,12.946987,2018.005379,15.471215,187.289948,12.724878,-79.471481,43.175091,0.001687,0.006724
std,2.570898,8.721121,102.434418,6.136959,2.724434,8.843824,102.598206,7.279582,0.674046,4.781273,0.043439,0.107693
min,2014.000000,1.000000,1.000000,0.000000,2000.000000,1.000000,1.000000,0.000000,-85.488744,0.000000,0.000000,0.000000
25%,2016.000000,8.000000,102.000000,9.000000,2016.000000,8.000000,102.000000,7.000000,-79.474497,43.658740,0.000000,0.000000
50%,2018.000000,16.000000,191.000000,13.000000,2018.000000,15.000000,191.000000,14.000000,-79.396378,43.695033,0.000000,0.000000
75%,2020.000000,23.000000,275.000000,18.000000,2020.000000,23.000000,274.000000,19.000000,-79.332109,43.748072,0.000000,0.000000
max,2022.000000,31.000000,366.000000,23.000000,2022.000000,31.000000,366.000000,23.000000,-78.551414,44.351392,3.000000,24.000000

In [10]:
final_df.isna().sum()

CRIME_TYPE              0
EVENT_UNIQUE_ID         0
REPORT_DATE_FIXED       0
OCC_DATE_FIXED          0
REPORT_YEAR          6952
REPORT_MONTH         6952
REPORT_DAY           6952
REPORT_DOY           6952
REPORT_DOW           6952
REPORT_HOUR          6952
OCC_YEAR              113
OCC_MONTH             113
OCC_DAY               113
OCC_DOY               113
OCC_DOW               113
OCC_HOUR             1245
DIVISION                0
LOCATION_TYPE           0
PREMISES_TYPE           0
UCR_CODE                0
UCR_EXT                 0
OFFENCE                 0
MCI_CATEGORY            0
HOOD_158                0
NEIGHBOURHOOD_158       0
LONG_WGS84              0
LAT_WGS84               0
PRIMARY_OFFENCE         0
STATUS                  0
HOMICIDE_TYPE           0
DEATH                   0
INJURIES                0
dtype: int64

In [5]:
final_df.loc[final_df['HOMICIDE_TYPE']  != "NotApplicable"]

,CRIME_TYPE,EVENT_UNIQUE_ID,REPORT_DATE_FIXED,OCC_DATE_FIXED,REPORT_YEAR,REPORT_MONTH,REPORT_DAY,REPORT_DOY,REPORT_DOW,REPORT_HOUR,...,MCI_CATEGORY,HOOD_158,NEIGHBOURHOOD_158,LONG_WGS84,LAT_WGS84,PRIMARY_OFFENCE,STATUS,HOMICIDE_TYPE,DEATH,INJURIES
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,Homicide,GO-2004111878,2004-01-03,2004-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,98,Rosedale-Moore Park,-79.392851,43.685020,NotApplicable,NotApplicable,Other,0,0
2,Homicide,GO-2004125755,2004-01-04,2004-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,142,Woburn North,-79.233887,43.781741,NotApplicable,NotApplicable,Shooting,0,0
3,Homicide,GO-2004136086,2004-01-05,2004-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,146,Malvern East,-79.206894,43.810849,NotApplicable,NotApplicable,Shooting,0,0
4,Homicide,GO-2004148623,2004-01-06,2004-01-06,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,171,Junction-Wallace Emerson,-79.434396,43.670466,NotApplicable,NotApplicable,Shooting,0,0
5,Homicide,GO-2004148619,2004-01-07,2004-01-07,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,144,Morningside Heights,-79.203862,43.823535,NotApplicable,NotApplicable,Shooting,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1318,Homicide,GO-20222396611,2022-12-08,2022-12-08,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,88,High Park North,-79.468219,43.656326,NotApplicable,NotApplicable,Stabbing,0,0
1319,Homicide,GO-20222413771,2022-12-10,2022-12-10,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,61,Taylor-Massey,-79.292176,43.696072,NotApplicable,NotApplicable,Shooting,0,0
1320,Homicide,GO-20222452652,2022-12-16,2022-12-16,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,135,Morningside,-79.205111,43.765038,NotApplicable,NotApplicable,Shooting,0,0
1321,Homicide,GO-20222467066,2022-12-18,2022-12-18,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,170,Yonge-Bay Corridor,-79.382467,43.645286,NotApplicable,NotApplicable,Stabbing,0,0
1322,Homicide,GO-20222554708,2022-12-30,2022-12-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NonMCI,118,Tam O'Shanter-Sullivan,-79.300392,43.780503,NotApplicable,NotApplicable,Shooting,0,0