<center> 
    <h1> Toronto Crime </h1>
<h3> Sprint 1</h3>
    </center>

##### Author: Arsalan Arif Radhu
##### Date: 11 October 2023

### Table of Contents:
- [Introduction](#intro) <br />
- [Part 1 - Basic Analysis](#part1) <br />
    - [1.1](#1.1) <br />
    - [1.2](#1.2) <br />
- [Part 2 - Statistical Analysis](#part2) <br />
    - [2.1](#2.1) <br />
    - [2.2](#2.2) <br />
- [Part 3 - Advanced Statistical Analysis](#part3)<br />
    - [3.1](#3.1) <br />
    - [3.2](#3.2) <br />
- [Summary](#summary)

### Introduction <a id="intro" />

This notebook aims to conduct advanced statistical analysis on the cleaned mosquito dataset. We will be trying to find the relationships between different variables and their effect on the mosquito number using different models. We will also be looking at the statistical significance between each variable as well.

Importing all the required libraries.

In [1]:
import numpy as np  #importing numpy library
import pandas as pd #importing pandas library
import matplotlib.pyplot as plt #importing matplotlib library
import seaborn as sns #importing seaborn library 
import statsmodels.api as sm #importing statsmodel library 
from scipy import stats #importing scientific py library

### Part 1 - Basic Analysis <a id="part1" />

We will first import the new dataset and do some basic EDA to get a grasp of how it is after the processing.

Importing our data and reading through it.

In [ ]:
#Reading the csv file
mos_df = pd.read_csv('../data/mosquito_data_part_2.csv',low_memory=False)
# Selecting the top 10 rows of the csv file.
mos_df.sample(10)

,Year,Week,Address Block,Trap,Trap type,Date,Mosquito number,WNV Present,Species,Lat,Lon,Month
16343,2012,31,70XX N MOSELLE AVE,T008,GRAVID,2012-08-03 00:08:00,46,positive,CULEX RESTUANS,42.008007,-87.778233,8
8421,2012,33,131XX S BRANDON AVE,T209,GRAVID,2012-08-17 00:08:00,1,negative,CULEX PIPIENS,41.657069,-87.546049,8
14120,2007,35,64XX S STONY ISLAND AVE,T077,CDC,2007-09-05 00:09:00,1,negative,CULEX PIPIENS,41.778129,-87.586245,9
17199,2018,33,22XX W 51ST ST,T061,GRAVID,2018-08-16 00:08:00,2,positive,CULEX RESTUANS,41.801052,-87.680425,8
15187,2007,28,36XX N PITTSBURGH AVE,T011,GRAVID,2007-07-18 00:07:00,1,negative,CULEX RESTUANS,41.945961,-87.832942,7
10498,2010,36,62XX N MCCLELLAN AVE,T236,GRAVID,2010-09-10 00:09:00,1,negative,CULEX TERRITANS,41.994966,-87.770837,9
8110,2013,23,1XX N CENTRAL PARK DR,T030,GRAVID,2013-06-07 00:06:00,10,negative,CULEX RESTUANS,41.883772,-87.716168,6
5612,2014,35,81XX S ASHLAND,T068,GRAVID,2014-08-28 00:08:00,24,negative,CULEX PIPIENS,41.746732,-87.663721,8
16756,2018,30,1XX N CENTRAL PARK DR,T030B,SENTINEL,2018-07-26 00:07:00,9,positive,CULEX RESTUANS,41.883721,-87.716084,7
4759,2015,28,70XX W ARMITAGE AVE,T151,GRAVID,2015-07-16 00:07:00,21,negative,CULEX RESTUANS,41.916135,-87.801093,7